.LayoutUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f2f6b;
  padding: 16px 30px;
  color: white;
  position: relative;
  z-index: 10;
}

/* LEFT */
.LayoutUser-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.icon {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  position: absolute;
  top: 55px;
  left: 0;
  background: #fff;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
  z-index: 999;
  max-height: 400px;
  overflow-y: auto;
}

.dropdown-dep {
  padding: 10px 14px;
  border-bottom: 1px solid #eee;
}

.dropdown-dep strong {
  display: block;
  font-size: 15px;
  color: #111;
  margin-bottom: 6px;
}

.dropdown-cat {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 4px;
}

.dropdown-cat div {
  font-size: 14px;
  color: #444;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 6px;
  transition: 0.2s;
}

.dropdown-cat div:hover {
  background: #f2f2f2;
  color: #0f2f6b;
}

.LayoutUser-center {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
}

.LayoutUser-center input {
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;
  flex: 1;
}

.LayoutUser-center button {
  background: #fff;
  border: none;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.LayoutUser-center button svg {
  color: #000;
  font-size: 20px;
}

.LayoutUser-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.LayoutUser-right h2 {
  font-size: 20px;
  font-weight: 500;
}

.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart svg {
  font-size: 24px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #ff2a00;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}