:root {
    --cor-principal: #052364;
    --cor-container: #FFFFFF;
    --cor-hover: #f3f3f3;
    --cor-button-hover: #0084D5;
    --cor-texto-header: #f3f3f3;
    --cor-texto: #4B4B4B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container-admin {
    display: flex;
    flex-direction: column;
}

.header-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    color: var(--cor-texto-header);
    padding: 0 40px;
    height: 70px;
    position: relative;
}

.menu-admin {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
}

.menu-item-admin {
    position: relative;
}

.menu-title-admin {
    margin-left: 20px;
    background: transparent;
    border: none;
    color: var(--cor-texto-header);
    font-size: 25px;
    cursor: pointer;
    font-weight: 500;
}

.menu-title-admin:hover {
    color: var(--cor-texto);
}

.menu-item-admin.logout {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-texto-header);
    transition: 0.2s;
}

.menu-item-admin.logout:hover {
    color: var(--cor-button-hover);
    opacity: 0.8;
}

.menu-item-admin.logout svg {
    vertical-align: middle;
}
.submenu-admin {
    position: absolute;
    top: 60px;
    left: 0;
    background: var(--cor-container);
    list-style: none;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
    min-width: 180px;
    z-index: 1000;
}

.submenu-admin li {
    padding: 10px 20px;
    cursor: pointer;
    color: var(--cor-texto);
}

.submenu-admin li:hover {
    background: var(--cor-hover);
    color: var(--cor-button-hover);
}